#image1 {
    width: 40%;
    height: 40%;
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
}

#image2 {
    width: 30%;
    height: 30%;
    float: right;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.myText {
    text-align: justify;
}

.myDiv {
    background-color: wheat;
    width: 800px;
}

.myDiv:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}